#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.site-layout-content {
  padding: 24px;
  background: #fff;
}

.ant-card-meta-detail {
  min-width: 200px;
  width: 100%;
}

.ant-card-meta-title {
  text-align: left;
}

.login-form {
  max-width: 500px;
}

.login-form-button {
  width: 100%;
}
